/* Add here all your CSS customizations */
h4 {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 27px;
    margin: 0 0 14px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #212529;
    font-weight: 200;
    letter-spacing: -.03em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        display: inline-flex;
        align-items: center;
        white-space: normal;
        border-radius: 4px;
        color: #CCC;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        padding: 0.5rem 1rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.fa, .fas {
    font-weight: 900;
    margin-left: 3px;
}

.home-intro {
    background-color: #212529;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 38.4px 0;
    padding: 2.4rem 0;
    position: relative;
    text-align: left;
}

.home-intro p {
    color: #FFF;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: .05px;
    font-size: 16px;

}

.contact{
    background-color: #f7f7f7;
}